<mat-toolbar class="color1">
  <mat-toolbar-row >

        
        
     
            <a mat-stroked-button routerLink='/petinfo' class="color"><font size="3"><b>ระบบย่อยบันทึกประวัติ</b></font></a>
        
          &nbsp;
          
            <a mat-stroked-button routerLink='/treatment' class="color"><font size="3"><b>ระบบย่อยบันทึกอาการ</b></font></a>
        
          &nbsp;

          
            <a mat-stroked-button routerLink='/Recuperate' class="color"><font size="3"><b>ระบบย่อยพักฟื้นสัตว์</b></font></a>
          
          &nbsp;

          
            <a mat-stroked-button routerLink='/Appointment' class="color"><font size="3"><b>ระบบย่อยนัดหมาย</b></font></a>
          
          &nbsp;

          
            <a mat-stroked-button routerLink='/paymentinfo' class="color"><font size="3"><b>ระบบย่อยแจ้งชำระเงิน</b></font></a>
          
          &nbsp;

          
            <a mat-stroked-button routerLink='/Medical' class="color"><font size="3"><b>ระบบย่อยสั่งซื้อยา</b></font></a>
        
          &nbsp;

          
            <a mat-stroked-button routerLink='/Serve' class="color"><font size="3"><b>ระบบบริการ</b></font></a>
        
        &nbsp;

        
            <a mat-stroked-button routerLink='/triage' class="color"><font size="3"><b>ระบบคัดแยกอาการ</b></font></a>
        
  
        

  </mat-toolbar-row>
</mat-toolbar>



  <div class="color3">
  <div style="text-align:center">
      <br><br><br>
    <font size="50"><p>WELCOME G02 </p>
    <p>ระบบคลินิกรักษาสัตว์</p></font>
  </div>
