
<div class="container">

  <mat-card-actions align="center">
    <h1 >ระบบสั่งซื้อยา</h1>
  </mat-card-actions>
  <hr><br>

  <mat-card>

    <mat-toolbar class="body">
      <span>&nbsp;&nbsp;&nbsp;ชื่อบริษัท</span>
    </mat-toolbar><br>

    <mat-card-content>
      <mat-form-field class="example-full-width2">
        <mat-select  placeholder="" [(ngModel)]="nameCompanySelect" name="nameCompany">
          <mat-option *ngFor="let Company of nameCompany" [value]="Company.companyId">
            {{Company.nameCompany}} &nbsp;&nbsp;
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content><br>

    <mat-toolbar class="body">
      <span>&nbsp;&nbsp;&nbsp;รายการคำสั่งซื้อยา</span>
    </mat-toolbar><br>

    <table matSort (matSortChange)="sortData($event)">
      <tr align="center">
        <th >ชื่อยา</th>
        <th >จำนวน</th>
        <th >ประเภทยา</th>
      </tr>
      <br><br>

      <tr align="center">
        <td><br>
          <mat-card-content>
            <mat-form-field class="example-full-width2">
              <mat-select placeholder="" [(ngModel)]="nameMedicineSelect" name="nameMed">
                <mat-option *ngFor="let Medicine of nameMed" [value]="Medicine.medicineId"> {{Medicine.nameMed}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content><br></td>
        <td><mat-form-field class="example-full-width">
          <input matInput  placeholder=" " [(ngModel)]="number" name="number" type="text">
        </mat-form-field>&nbsp;&nbsp;&nbsp;</td>
        <td><br>
          <mat-card-content>
            <mat-form-field class="example-full-width2">
              <mat-select placeholder="" [(ngModel)]="nameMedicineSelect" name="nameMed">
                <mat-option *ngFor="let Medicine of nameMed" [value]="Medicine.medicineId"> {{Medicine.type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content><br></td>
      </tr>
    </table>

    <mat-toolbar class="body">
      <span>&nbsp;&nbsp;&nbsp;หมายเหตุ</span>
    </mat-toolbar><br>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput  placeholder=" " [(ngModel)]="note" name="note" type="text">
      </mat-form-field>
    </mat-card-content><br>


    <mat-toolbar class="body">
      <span>&nbsp;&nbsp;&nbsp;ชื่อพยาบาล</span>
    </mat-toolbar><br>
    <mat-card-content>
      <mat-form-field class="example-full-width2">
        <mat-select  placeholder="" [(ngModel)]="nurseNameSelect" name="nameNurse">
          <mat-option *ngFor="let Nurse of nameNurse" [value]="Nurse.nurseId">
            {{Nurse.nameNurse}} &nbsp;&nbsp;
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content><br>

    <br><br><br>

    <mat-card-actions align="center">
      <button mat-raised-button color="primary" (click)= "save()" >บันทึก</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" routerLink= "/remed" >ไปหน้า ระบบรับยา</button>
    </mat-card-actions>
    <br>
  </mat-card>

</div>
