<mat-toolbar class="color">
  <mat-toolbar-row>
    <span><font size="6"><b>ระบบคลินิกรักษาสัตว์</b></font></span>
  </mat-toolbar-row>
</mat-toolbar>


<div class="container">
  <br>

  <h1 ><mat-icon>dvr</mat-icon>     ระบบยกเลิกการนัดหมาย </h1>
  <hr><br>

  <mat-card>

    <mat-toolbar class="body" class="color">
      <span><mat-icon>label</mat-icon>&nbsp;&nbsp;&nbsp;ข้อมูลการนัดหมาย</span>
    </mat-toolbar><br>

    ชื่อเจ้าของ &nbsp; &nbsp; : &nbsp; <mat-form-field  appearance="outline" class="example-width">
    <mat-label>Owner</mat-label>
    <mat-select [(ngModel)]="nameAppointSelect" placeholder ="" name="appointment">
      <mat-option *ngFor="let Appointment of appointment" [value]="Appointment.appointmentId">
        {{Appointment.owner.ownerName}}
      </mat-option>
    </mat-select>
  </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    เบอร์ติดต่อ &nbsp; : &nbsp; <mat-form-field  appearance="outline" class="example-width">
    <mat-label>Telephone</mat-label>
    <mat-select [(ngModel)]="nameAppointSelect" placeholder ="" name="appointment">
      <mat-option *ngFor="let Appointment of appointment" [value]="Appointment.appointmentId">
        {{Appointment.owner.ownerTel}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>

    ชื่อสัตว์เลี้ยง &nbsp; : &nbsp; <mat-form-field appearance="outline"  class="example-width" >
    <mat-label>Pet</mat-label>
    <mat-select [(ngModel)]="nameAppointSelect" placeholder ="" name="appointment">
      <mat-option *ngFor="let Appointment of appointment" [value]="Appointment.appointmentId">
        {{Appointment.petInfo.petName}}
      </mat-option>
    </mat-select>
  </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>



    สัตว์แพทย์ &nbsp; &nbsp; : &nbsp; <mat-form-field appearance="outline" class="example-width">
    <mat-label>Veterinary</mat-label>
    <mat-select [(ngModel)]="nameAppointSelect" placeholder ="" name="appointment">
      <mat-option *ngFor="let Appointment of appointment" [value]="Appointment.appointmentId">
        {{Appointment.doctor.nameDoctor}}
      </mat-option>
    </mat-select>
  </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>

    วัน/เดือน/ปี &nbsp; &nbsp; : &nbsp; <mat-form-field appearance="outline" class="example-width">
    <mat-label>Date</mat-label>
    <mat-select [(ngModel)]="nameAppointSelect" placeholder =""name="appointment">
      <mat-option *ngFor="let Appointment of appointment" [value]="Appointment.appointmentId">
        {{Appointment.date}}
      </mat-option>
    </mat-select>
  </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    ช่วงเวลา &nbsp; &nbsp; : &nbsp; <mat-form-field appearance="outline" class="example-width">
    <mat-label>Period</mat-label>
    <mat-select [(ngModel)]="nameAppointSelect" placeholder =""name="appointment">
      <mat-option *ngFor="let Appointment of appointment" [value]="Appointment.appointmentId">
        {{Appointment.period.periods}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>


    <mat-toolbar class="body" class="color">
      <span><mat-icon>label</mat-icon>&nbsp;&nbsp;&nbsp; สถานะการนัดหมาย</span>
    </mat-toolbar><br>


    สถานะ &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; <mat-form-field appearance="outline" class="example-width">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="statusSelect" placeholder =""name="status">
      <mat-option *ngFor="let Status1 of status" [value]="Status1.statusId">
        {{Status1.status1}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>

    หมายเหตุ &nbsp; &nbsp; : &nbsp; <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Note</mat-label>
    <input matInput [(ngModel)]="note"  name="note" type="text">
  </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>



    พยาบาล &nbsp; &nbsp; &nbsp; : &nbsp; <mat-form-field  appearance="outline" class="example-width">
    <mat-label>Nurse</mat-label>
    <mat-select [(ngModel)]="nameNurseSelect" placeholder =""name="nameNurse">
      <mat-option *ngFor="let Nurse of nameNurse" [value]="Nurse.nurseId">
        {{Nurse.nameNurse}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>



  </mat-card>
  <br><br>
  <mat-card-actions align="center">
    <button mat-raised-button class="color"(click)= "insert1()">บันทึกข้อมูล</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button class="color" routerLink="/Appointment">กลับสู่หน้าการนัดหมาย</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button class="color" routerLink="/Pagemenu">กลับสู่หน้าหลัก</button>
  </mat-card-actions>
  <br>

</div>
